fastapi[all]
SQLAlchemy==2.0.29
alembic==1.13.1
asyncpg==0.29.0
fastapi-versioning== 0.10.0
python-json-logger==2.0.7
fastapi-users[sqlalchemy]
fastapi-cache2[redis]
sqladmin==0.16.1
celery==5.4.0
flower==2.0.1
sentry-sdk[fastapi]
gunicorn==22.0.0
prometheus-fastapi-instrumentator==7.0.0
slowapi==0.1.9
pytest==8.3.5
pytest-asyncio==1.0.0
pytest-dotenv==0.5.2
httpx==0.28.1
aio-pika==9.5.5